// Import Material Bootstrap Colors
@import "node_modules/bootstrap-material-design/sass/colors";
// Brand Colors
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: $orange-500;
$brand-danger: $red-500;
